@import "temps";

* {
  box-sizing: border-box;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  width: 102%;
  background-color: #e5e5e5;
  margin: 0;
  @extend %flexColumn;
  min-height: 100vh;
}

%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexRow {
  display: flex;
  flex-direction: row;
}

.feed__container {
  margin-top: auto;
  // margin-bottom: -5rem;
  width: 100%;
}
