@import "temps";

.card__container {
  @extend %flexColumn;
  margin-bottom: 2%;
  height: 70%;
}

////////////////////////////////////////////// CARD HEADER ////////////////////////////////////////////////////

.card__header {
  @include cardHeaderFooter;

  .card__avatar {
    margin-right: 3%;
  }

  .card__username {
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
  }
  .card__featured {
    font-weight: 500;
    font-size: 0.8rem;
    color: $fontOrange;
    text-align: left;
  }
  .card__timePosted {
    font-size: 0.8rem;
    color: $fontGray;
    margin-left: auto;
  }
}

/////////////////////////////////////////// MIDDLE PART OF THE CARD ///////////////////////////////////////////

.card__middle {
  @extend %flexColumn;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 8%;
  background-image: linear-gradient(
      179.86deg,
      rgba(0, 0, 0, 0) 35.11%,
      #000000 99.85%
    ),
    url(../assets/backimg.png);
  background-repeat: no-repeat;
  background-size: cover;

  .card__title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    padding-top: 3%;
  }

  .card__text {
    color: $fontWhite;
    padding-top: 3%;
  }
}

///////////////////////////////////////////////// CARD FOOTER ///////////////////////////////////////////////////

.card__bottom {
  @include cardHeaderFooter;

  .card__bottom--share {
    margin-right: auto;
    width: 1.5rem;
    height: 1.5rem;
  }

  .card__bottom > img,
  div {
    margin: 2%;
  }
}
