@import "temps";

.header__container {
  @include fixedFooterHeader;
  border: 1px solid #e5e5e5;
  position: fixed;

  .header__title {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }

  .header__dropdown {
    width: 0.9rem;
    height: 0.6rem;
  }

  .header__title--live {
    font-weight: normal;
    font-size: 0.9rem;
  }
}
