$backgroundColor: #ffffff;
$fontWhite: #ffffff;
$fontBlack: #000000;
$fontGray: #747474;
$fontOrange: #ff8f00;

@mixin fixedFooterHeader {
  @extend %flexRow;

  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 3% 5%;
  width: 100%;
  background-color: $backgroundColor;
}

@mixin cardHeaderFooter {
  @extend %flexRow;

  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: $backgroundColor;
  padding: 3%;
}

@mixin card {
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 8%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      179.86deg,
      rgba(0, 0, 0, 0) 35.11%,
      #000000 99.85%
    ),
    url(../assets/backimg.png);
}

%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexRow {
  display: flex;
  flex-direction: row;
}
